@model mymovieapp.Models.Cliente
@{
    ViewData["Title"] = "Producto";
}
<div class="container">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Registrar Producto" asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Nombre del producto:" class="control-label"></label>
                    <input asp-for="Nombre del producto" class="form-control" />
                    <span asp-validation-for="Nombre del producto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion del producto:" class="control-label"></label>
                    <input asp-for="Descripcion del producto" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Registrsssssssssar</button>
                </div>
            </form>
             <h1>@ViewData["Message"]</h1>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
